{% extends 'layout.html' %}

{% block content %}
    <section class="border rounded-md border-gray-200 p-5 dark:border-gray-800 text-gray-600 dark:text-gray-100 text-sm">
        <h2 class="text-lg font-semibold uppercase">Solución Numérica de Derivadas</h2>
        <form method="POST" id="derivatives_form" action="{{ url_for('main_routes.derivatives_two_points') }}">
            <div class="grid grid-cols-[3fr_repeat(5,_1fr)] gap-2 w-full mt-3 mb-1">
                <select name="method" id="method" class="py-1 px-2 shadow border border-gray-200 dark:border-gray-800 rounded-md focus:outline-none dark:bg-transparent dark:border-gray-800 text-gray-700 dark:text-gray-400">
                    <option selected value="0">Selecione el método a usar...</option>
                    <option value="1">Dos puntos</option>
                    <option value="2">Tres puntos hacia adelante</option>
                    <option value="3">Tres puntos hacia atras</option>
                    <option value="4">Tres puntos</option>
                  </select>
                <input type="text" name="equation" id="equation" placeholder="Ingrese la ecuación" class="inline-block py-1 px-2 items-center shadow border border-gray-200 dark:border-gray-800 rounded-md focus:outline-none dark:bg-black dark:border-gray-800 text-gray-700 dark:text-gray-400 hidden">
                <input type="text" name="x" id="x" placeholder="Ingrese x:" class="inline-block py-1 px-2 shadow border border-gray-200 dark:border-gray-800 rounded-md focus:outline-none dark:bg-black dark:border-gray-800 text-gray-700 dark:text-gray-400 hidden">
                <input type="text" name="tol" id="tol" placeholder="Ingrese TOL:" class="inline-block py-1 px-2 shadow border border-gray-200 dark:border-gray-800 rounded-md focus:outline-none dark:bg-black dark:border-gray-800 text-gray-700 dark:text-gray-400 hidden">
                <button id="buttonSend" class="inline-flex text-center items-center justify-center py-1 rounded-md shadow text-gray-700 dark:text-gray-400 dark:border-gray-800 border border-gray-200 leading-none hidden">Calcular</button>
            </div>
        </form>
        <div class="grid grid-cols-[3fr_repeat(5,_1fr)] gap-2 w-full mt-3 mb-1">
            <div></div>
            <div><small id="funcInfo" class="text-gray-400 dark:text-gray-600 hidden">Ex: 2 * X ** 3</small></div>
            <div><small id="xInfo" class="text-gray-400 dark:text-gray-600 hidden">Ex: 0.5</small></div>
            <div><small id="tolInfo" class="text-gray-400 dark:text-gray-600 hidden">Ex: 1e-6</small></div>
        </div>
    </section>
    <section class="border rounded-md border-gray-200 p-5 dark:border-gray-800 text-gray-600 dark:text-gray-100 text-sm mt-3 grid gap-2 grid-cols-[0.5fr_1fr]">
        <div class="bg-stone-950 p-3">
            <h4 class="text-sm font-semibold uppercase text-center mb-2">Solución</h4>
            {% if result %}
                <div>Función: {{ result.func_str[0] if result.func_str else None }}</div>
                <p>Resultado: {{ result.x[0] if result.x else None }}</p>
                </br>
                <p>Nro repeticiones: {{ result.iter_count[0] if result.iter_count else None }}</p>
            {% endif %}
        </div>
        <div class="border rounded border-gray-200 dark:border-gray-800 p-3">
            <h4 class="text-sm font-semibold uppercase text-center mb-2">Gráfica</h4>
            {% if result %}
            <img src="data:image/png;base64,{{ result.plot_data }}" alt="Graph of function" class="text-center mx-auto">
            {% endif %}
        </div>
    </section>

    <script>
        let equation = document.getElementById('equation')
        let xInput = document.getElementById('x');
        let tolInput = document.getElementById('tol');
        let buttonSend = document.getElementById('buttonSend')
        let textInfo = document.getElementById('funcInfo')
        let xInfo = document.getElementById('xInfo')
        let tolInfo = document.getElementById('tolInfo')

        document.getElementById('method').addEventListener('change', function () {
            let selectedMethod = this.value;
            if (selectedMethod != undefined || selectedMethod != null ) buttonSend.classList.remove('hidden')
            equation.classList.remove('hidden');
            xInput.classList.remove('hidden');
            tolInput.classList.remove('hidden');
            textInfo.classList.remove('hidden');
            xInfo.classList.remove('hidden');
            tolInfo.classList.remove('hidden');
        });

        document.getElementById('derivatives_form').addEventListener('submit', function(event) {
            validateForm(this);
        });
    </script>
{% endblock %}
