<!DOCTYPE html>
<html>
<head>
    <title>Métodos Numericos</title>
    <link rel="icon" href="{{ url_for('static', filename='img/think.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
    {% include 'nav.html' %}

    <main class="px-5 py-3">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
